.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: tomato;
    z-index:10;

}

.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 100%*/
    height: 100vh;
    color: white;
    background-color: #000;
}

@media screen and (max-width: 600px) {
    body {
        background-color: olive;
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 80%;
    }
}
